@media (min-width: 768px) {
	.header {
		&__txt {
			&-one {
				font-size: 4rem;
			}
			&-two {
				font-size: 10rem;
				letter-spacing: -10px;
			}
			&-three {
				font-size: 3rem;
				&::before {
					left: -40px;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	.section__heading {
		top: -60px;
		font-size: 11rem;
	}
	.artists {
		&__images {
			&-img {
				position: relative;
				width: 245px;
				height: 347px;
			}
			&-img-big {
				order: 3;
				width: 245px;
				width: 610px;
			}
		}
		.nas-img {
			position: absolute;
			width: 245px;
			height: 347px;
			border-radius: 8px;
			z-index: 10;
		}
	}
	.events {
		&__card {
			justify-content: space-between;
			&-insert {
				width: 45%;
			}
			&-desc {
				width: 45%;
			}
			&-title {
				bottom: 30%;
				font-size: 6rem;
			}
		}
		&__support {
			font-size: 5rem;
		}
	}
	.studio {
		&__img {
			margin-top: 30em;
			&-one {
				width: 50%;
			}
			&-two {
				width: 50%;
				display: block;
			}
			&-desc {
				bottom: 50px;
				font-size: 5rem;
			}
		}
	}
}
